<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-图片浏览器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>02-图片浏览器(方法抽取).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>03-图片浏览器(使用数组进行数据封装).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>04-图片浏览器(使用plist).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>05-图片浏览器(模型).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>06-汤姆猫.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>07-汤姆猫(方法抽取).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>08-汤姆猫(内存优化).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>09-汤姆狗.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Day02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31A0F42D1B636686003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4461B636686003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4D81B65F29A003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4F01B65F29B003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A351D51BE9D0020017938F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A351ED1BE9D0020017938F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A355801BE9FA530017938F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A355981BE9FA530017938F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E5861E1B671E3C000186A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E586361B671E3C000186A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC46EB1BE8FA11007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC47031BE8FA11007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC47141BE9123F007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC472C1BE9123F007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC473F1BE98964007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC47571BE98964007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC476B1BE99788007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC47831BE99788007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC47941BE9C5E0007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FC47AC1BE9C5E0007FDD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
