<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-作业QQ登陆.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>01-加法计算器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-按钮的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Day01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31A0F3FB1B63663C003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4141B63663C003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F45A1B6366D6003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4721B6366D6003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4841B63AE7E003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F49C1B63AE7E003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4AE1B645F60003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A0F4C61B645F61003F7DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
